<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Guessing Game - Express</title>
  </head>
  <body class="content">
    <div>
      <div>
        <p>Hello there Welcome to <b>Guessing Game!</b></p>
      </div>
      <p>
        I will choose a number between <strong>1</strong> and
        <strong>100</strong>
      </p>
      <p>Lets see how many guesses it takes you to come with correct guess!</p>
    </div>
    <a href="/play"><b>Start Game</b></a>
  </body>
</html>
